<%= simple_form_for @multiple_choice_question do |f| %>
  <%= f.error_messages %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :text, autofocus: true %>
    <% 9.times do |i| alts = @multiple_choice_question.alternatives  %>
      <div class='input optional'>
        <label class="string optional control-label" for="question_alternatives">Alternative</label>
        <%= text_field_tag 'multiple_choice_question[alternatives][]', alts.size >= i ? alts[i] : '' %>
        <%= radio_button_tag  'multiple_choice_question[correct_alternative]', i, @multiple_choice_question.correct_alternative == i %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
