<%= simple_form_for @multiple_choice_question do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :class, as: :hidden %>
    <%= f.input :text %>
    <% 5.times do |i| alts = @multiple_choice_question.alternatives || []; ans = @multiple_choice_question.answers || [] %>
      <div class='input optional'>
        <label class="string optional control-label" for="question_alternatives">Alternative</label>
        <%= check_box_tag  'question[answers][]', i, ans.size >= i ? ans[i] : ''  %>
        <%= text_field_tag 'question[alternatives][]', alts.size >= i ? alts[i] : '' %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
