<div class='brand'>
  <%= link_to image_tag('question-box-small.png', width: 100, height: 95) %>
</div>
<ul class="nav">
  <%= content_tag('li', :class => current_page?(questions_path) ? "active" : "") do %>
    <%= link_to_unless_current 'Questions', questions_path %>
  <%- end %>
  <%= content_tag('li', :class => current_page?(quizzes_path) ? "active" : "") do %>
      <%= link_to_unless_current 'Quizzes', quizzes_path %>
  <%- end %>
</ul>
<ul class="user-panel">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
